@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'GmarketSansBold';
  color: #fff;
  font-size:30px;
}
#wrap{
  margin-left: 35%;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  color: #fff;
}
.form,
.greetings {
  display: none;
}
button {
  background-color: #fff;
  border: none;
  height: 30px;
}
input {
  font-size: 20px;
  line-height: 50px;
  width: 50%;
  font-family: 'GmarketSansBold';
}
span {
  font-family: 'GmarketSansBold';
  margin-left: 20px;
}
.js-title {
  font-size: 40px;
}
.showing {
  display: block;
}
.js-clock {
  padding: 100px 0 0 0;
  margin-bottom: 50px;
}
.js-greetings{

  text-shadow: 1px 1px 2px black;
  font-size:50px;
  text-transform: uppercase;
  font-family: 'TmonMonsori';
}
li {
  margin-bottom: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}